body {
    background-color:whitesmoke;
}

.top-bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #B3B7EE;
}

.top-bar a {
    color: #000807;
    text-decoration: none;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    min-height: 400px;
    margin: 50px auto;
    border: 3px solid black;
    background-color:#B3B7EE;
}

.intro-text {
    font-size: 20px;
    padding-left: 50px;
    width: 100%;
    color:black;
}
.intro-text a {
    color: black;
    text-decoration: none;
}
.intro-text .fa-envelope {
    padding-left:3px;
    color: black;
}
.intro-text .fa-linkedin {
    padding-left:px;
    color: #0A66C2;
}
.intro-text .fa-github {
    padding-left:px;
    color: white;
}

.profile-picture {
    width: 300px;
    height: 300px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project {
    border: 2px solid black;
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B3B7EE;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    font-size: 30px;
    margin: 0 20px;
    display: inline-block;
    transition: transform 0.2s ease;
}

.project.expanded .arrow {
    transform: rotate(-90deg);
}

.project-info {
    flex: 1;
}

.project-details {
    display: none;
}

.project.expanded .project-details {
    display: block;
}
.project.expanded .project-summary {
    display: none;
}

.project-video {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin-left: 30px;
    display: none;
}

.project.expanded .project-video {
    display: block;
}

.project_image {
    display: none;
    width: 300px;
    height: 200px;
    margin-left: 30px;
}

.project.expanded .project_image {
    display: block;
}

.expanded_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}

.education {
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    border: 3px solid black;
    background-color:#B3B7EE;
}

.education_text {
    padding-left: 10px;
}

.experience {
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    border: 3px solid black;
    background-color:#B3B7EE;
}

.experience_text {
    padding-left: 10px;
}

.skills {
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    border: 3px solid black;
    background-color:#B3B7EE;
}

.skills_text {
    padding-left: 10px;
}

